.DS_Store
/target
/goreleaser-dist

# build artifacts from the example workspaces used to generate screenshots
examples/*/target

# local env files
.env.local
.env.*.local

.intentionally-empty-file.o

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
